@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .left{
    width: 100%;
    position: relative;
    height: 100%;
    border-right: 5px solid rgb(43, 43, 43);
}
.left .header{
    width: 100%;
    height: 80px;
    background: rgb(136 136 136);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header .user-details{
    display: flex;
    align-items: center;
    color: #e9eded;
}
.user-details #userbtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    outline: none;
    border: none;
    background: whitesmoke;
    font-size: 1.5em;
    cursor: pointer;
}
.user-details .innercard{
    width: 400px;
    height: 200px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1em;
    position: absolute;
    top: 87px;
    right: 10px;
    border-radius: 10px;
    padding: 10px; 
}
.innercard .inner-row{
    display: flex;
}
.left .dyquestion{
    width: 100%;
    color: black;
}
.left .btns{
    padding: 20px;
    margin: 20px;
    background: #e9eded;
}
.btns button{
    width: 200px;
    height: 50px;
    margin: 0 10px;
    background: #888888;
    border: none;
    color: aliceblue;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}
.dyquestion .question{
    width: 100%;
    display: flex;
}
.dyquestion .quest{
    padding: 20px;
    font-size: 2em;
    margin: 20px 20px;
    font-weight: 900;
    background: #e9eded;
}
.dyquestion .opts{
    padding: 20px;
    margin: 20px;
    background: #e9eded;
    font-size: 1.5em;
    font-weight: 600;
}
.dyquestion ul{
    list-style: none;
}
.opts input{
    display: none;
}
.opts label{
    display: flex;
    align-items: center;
    width: auto;
    max-width: 450px;
    padding: 7px;
    border: none;
    height: 50px;
    border-radius: 5px;
    background: #83ccffa6;
    color: rgb(0, 0, 0);
    margin: 5px;
    cursor: pointer;
}
.opts .checkbtn{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    /* transition: 0.5s ease; */

}
.opts input:checked~.checkbtn{
    background: black;
    border: 4px solid rgb(255, 255, 255);
    /* transition: 0.5s ease; */

}


.left .foot{
    width: 100%;
    height: 50px;
    position: absolute;
    background:rgb(136 136 136) ;
    bottom: 0;
    left: 0;
}
.main .right{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right .upper{
    width: calc(100%);
    height: calc(100% / 3);
    background: rgba(245, 245, 245, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.right .midd{
    width: calc(100%);
    height: calc(100% / 3);
    background: rgba(245, 245, 245, 0.87);
}
.right .lower{
    width: calc(100%);
    height: calc(100% / 3);
    background: rgba(245, 245, 245, 0.87);
}
.upper .details{
    width: 100%;
    padding: 15px;
}
.upper .btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.upper .btns button{
    width: 150px;
    height: 35px;
    border: 1px solid rgba(224, 224, 224, 0.911);
    border-radius: 3px;
    background: black;
    color: white;
    font-size: larger;
    font-weight: 900;
    cursor: pointer;

}
.midd .btns-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.btns-cont .row{
    width: 100%;
    height: calc(100% / 4);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.btns-cont button{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background: black;
    font-size: larger;
    font-weight: 900;
    color: aliceblue;
}
.lower .lower-btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.lower .lower-btns button{
    width: 150px;
    height: 35px;
    border: 1px solid rgba(224, 224, 224, 0.911);
    border-radius: 3px;
    background: rgba(255, 78, 78, 0.87);
    color: white;
    font-size: larger;
    font-weight: 900;
}